*{
    margin: 0px;
    padding: 0px;
}
body {
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(to right bottom, black, rgb(88, 173, 243)); */
    background: linear-gradient(45deg, black 10%, rgb(88, 173, 243) 90%);
    font-family: 'Montserrat', sans-serif;
  }
  
.flip-card {
    background-color: transparent;
    width: 340px;
    height: 450px;
    perspective: 1000px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 10px 20px black;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front {
    background-image: url("pic.jpg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}
  
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, black 10%, rgb(88, 173, 243) 90%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}
.flip-card-back h1{
    transform: translateY(160px);
    font-weight: bold;
}
.flip-card-back p{
    transform: translateY(160px);
    font-style: italic;
}

.gradient {
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(to top, rgba(28, 171, 238, 0.7), rgba(253, 252, 252, 0.21));
    /* background: linear-gradient(45deg, rgba(28, 171, 238, 0.7), rgba(253, 252, 252, 0.21)); */
    color: white;
}
  
.icons {
    display: flex;
    flex-direction: column;
    top: 140px;
    position: absolute;
    left: 10%;
    /* left: 85%; */
}

.icons i {
    font-size: 25px;
    margin-bottom: 20px;
    /* color: rgba(28, 171, 238); */
    color: whitesmoke;
    transition: 0.3s;
}
.icons-back-flip{
    transform: translateX(15px);
}
.icons-back-flip i{
    padding-right: 20px;
    text-align: center;
    transform: translateY(190px);
}
.footer{
    transform: translateY(270px);
}


/*---------------------------------------------------------------------------------------------------------*/

/* ---------------- R E S P O N S I V E - M E D I A - Q U I E R I E S -------------------- */

@media (max-width: 768px)
{
    .price-head-text h2{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
        overflow: hidden;
    }
    .fa-credit-card{
        color: #134AD3;
        font-size: 5px;
    }
    .price-head-text p{
        font-size: 10px;
        font-weight: bold;
        line-height: 40px;
        overflow: hidden;
    }
    .price-head-text span{
        font-size: 10px;
        color: white;
    }
    .far{
        color: red;
        font-size: 15px;
        padding: 10px;
    }
    .fa-check-circle{
        color: green;
    }
    .buyer-btn{
        padding: 3px 3px;
        margin-bottom: 10px;
        font-size: 15px;
    }
}

@media (max-width: 768px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 15px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
}
@media (max-width: 760px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 15px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
}

@media (max-width: 852px)
{
    .setting-crsl-cptn-under{
        margin-bottom: 300px;
    }
    .carousel-caption .setting-carousel-cptin{
        font-size: 10px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
}
@media (max-width: 1024px)
{
    .setting-crsl-cptn-under{
        margin-bottom: 340px;
    }
    .carousel-caption .setting-carousel-cptin{
        font-size: 20px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 15px;
    }
    .animate-btn{
        position: absolute;
        top: 50%;
        left: 41%;
        display: flex;
        letter-spacing: 3px;
        justify-content: center;
        align-items: center;
        justify-self: center;
        font-size: 25px;
        padding: 10px 10px;
        transform: translateY(70px);
    }
}
@media (max-width: 280px)
{
    .animate-btn{
        position: absolute;
        top: 50%;
        left: 30%;
        display: flex;
        letter-spacing: 3px;
        justify-content: center;
        align-items: center;
        justify-self: center;
        font-size: 10px;
        padding: 10px 10px;
        transform: translateY(5px);
}
@media (max-width: 425px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 5px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        /* padding: 20px; */
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 5px;
    }
}
@media (max-width: 1104px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 20px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 15px;
    }
    .setting-text-footer h2{
        color: #fff;
        font-size: 20px;
    }
}
@media (max-width: 1155px)
{
    .setting-text-footer h2{
        color: #fff;
        font-size: 22px;
    }
}
@media (max-width: 1190px)
{
    .setting-text-footer h2{
        color: #fff;
        font-size: 22px;
    }
    .price-content ul li{
        border-bottom: 1px solid #1CB8C8;
        padding-top: 25px;
        font-size: 15px;
    }
}
@media (max-width: 1190px)
{
    .setting-phone-number{
        color: cyan;
        font-size: 16px;
    }
}
@media (max-width: 1030px)
{
    .setting-phone-number{
        color: cyan;
        font-size: 15px;
    }
}
@media (max-width: 1221px)
{
    .setting-text-footer h2{
        color: #fff;
        font-size: 20px;
    }
}
@media (max-width: 1234px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 10px;
        transform: translateY(100px);
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        transform: translateY(100px);
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
}
@media (max-width: 1295px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 20px;
        /* margin-top: 100px; */
        color: cyan;
        transform: translateY(70px);
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        transform: translateY(70px);
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 15px;
    }
}
@media (max-width: 1060px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 20px;
        /* margin-top: 100px; */
        color: cyan;
        transform: translateY(70px);
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        transform: translateY(70px);
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 15px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
    .price-content ul li{
        border-bottom: 1px solid #1CB8C8;
        padding-top: 25px;
        font-size: 15px;
    }
    .setting-phone-number{
        color: cyan;
        font-size: 14px;
    }
}

@media (max-width: 988px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 15px;
        /* transform: translateY(10px); */
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
}

@media (min-width: 575px) and (max-width: 767px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 15px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
    .card-title{
        font-size: 12px;
        font-weight: bold;
        font-family: verdana;
    }
    .setting-services p{
        padding-top: 20px;
        font-size: 10px;
    }
    .setting-crd-txt{
        font-size: 12px !important;
        font-weight: bold;
    }
    .setting-text-footer h2{
        color: #fff;
        font-size: 20px;
    }
    .price-content ul li{
        border-bottom: 1px solid #1CB8C8;
        padding-top: 25px;
        font-size: 15px;
    }
    .setting-phone-number{
        color: cyan;
        font-size: 18px;
    }
}

@media (min-width: 480px) and (max-width: 574px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 15px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
    small i{
        font-size: 8px;
    }
    .setting-card1{
        /* height: 400px; */
        height: 340px;
        /* height: 320px; */
        background-color: rgba(20, 193, 182, 0.4);
        /* display: inline-block; */
        box-shadow: 5px 2px 5px;
        border: 2px solid transparent;
        overflow: hidden;
    }
    .media-body h2{
        font-family: verdana;
        font-size: 20px;
        font-weight: bold;
    }
    .setting-phone-number{
        color: cyan;
        font-size: 20px;
    }
    .price-head-text h2{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    overflow: hidden;
    }
    .price-head-text p{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    overflow: hidden;
    }
    .price-head-text span{
    font-size: 15px;
    color: white;
    }
    .buyer-btn{
    margin-bottom: 10px;
    font-size: 20px;
    }
}
@media (max-width: 479px)
{
    .setting-media-object img{
        height: 40px;
        width: 40px;
        margin-right: 0px;
    }
    .media-body h5{
        font-family: verdana;
        font-size: 12px;
        color: purple;
        text-align: center;
    }
    .media-body span{
        font-size: 10px !important;
    }
}

@media (max-width: 1152px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 15px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
}

@media (max-width: 1146px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 20px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 15px;
    }
}

@media (max-width: 1063px)
{
    .carousel-caption .setting-carousel-cptin{
        transform: translateY(20px);
        font-size: 15px;
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
}

@media (max-width: 479px)
{
    .carousel-caption .setting-carousel-cptin{
        font-size: 15px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
    .media-body h2{
        font-family: verdana;
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
    }
}
@media (max-width: 397px)
{
    .media-body h2{
        font-family: verdana;
        font-size: 15px;
        font-weight: bold;
    }
    .media-body p{
        font-family: verdana;
        font-size: 12px;
    }
    .setting-media-object img{
        height: 50px;
        width: 50px;
    }
    .setting-form-row label{
        font-size: 14px;
    }
}
@media (max-width: 320px)
{
    .media-body h2{
        font-family: verdana;
        font-size: 12px;
        font-weight: bold;
    }
    .setting-media-object img{
        height: 40px;
        width: 40px;
        margin-right: 0px;
    }
    .media-body h5{
        font-family: verdana;
        font-size: 12px;
        color: purple;
        text-align: center;
    }
    .media-body span{
        font-size: 10px !important;
    }
}


/* ---------------------------- Responsiveness --------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) 
{
    .md-mb-30{
        margin-bottom: 30px;
    }
    .setting-text-footer h2{
        color: #fff;
        font-size: 15px;
    }
    .carousel-caption .setting-carousel-cptin{
        font-size: 20px;
        color: cyan;
        margin-bottom: 0px;
        transform: translateY(170px);
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        transform: translateY(170px);
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 12px;
    }
    .animate-btn{
        position: absolute;
        top: 50%;
        left: 40%;
        display: flex;
        letter-spacing: 3px;
        justify-content: center;
        align-items: center;
        justify-self: center;
        font-size: 20px;
        padding: 10px 10px;
        transform: translateY(70px);
    }
    
}
@media only screen and (max-width: 767px) 
{
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0px;
    }
    small i{
        font-size: 10px;
    }
    .carousel-caption .setting-carousel-cptin{
        font-size: 17px;
        color: cyan;
        transform: translateY(250px);
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        transform: translateY(250px);
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 12px;
    }
}

@media (max-width: 575.98px) 
{
    .setting-dropdown{
        background-color: cyan;
        margin-top: 32px;
        border-radius: 30px 5px 30px;
        box-shadow: 5px 5px 5px;
        font-size: 12px;
    }
    .carousel-caption .setting-carousel-cptin{
        font-size: 10px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1{
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
}

@media (max-width: 573px)
{
    .carousel-caption .setting-carousel-cptin
    {
        font-size: 10px;
        /* margin-top: 100px; */
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        /* border: 2px solid cyan; */
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1
    {
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 10px;
    }
}

@media (max-width: 580px)
{
    .carousel-caption .setting-carousel-cptin
    {
        font-size: 10px;
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0px 0px 10px 3px cyan;
    }
    .carousel-caption .setting-carousel-cptin-1
    {
        color: cyan;
        background-color: rgba(21, 21, 24, 0.9);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 3px cyan;
        padding: 10px;
        font-size: 7px;
    }
}
@media (min-width: 320px) and (max-width: 592px)
{
    .setting-nav{
        padding: 5px;
    }
    .setting-toggler{
        font-size: 18px;
    }
    .setting-dropdown{
        width: 280px;
        height: 390px;
        padding: 10px;
        scroll-behavior: smooth;
    }
    .setting-dropdown a{
        font-size: 11px;
    }
    .animate-btn{
        position: absolute;
        top: 50%;
        left: 32%;
        display: flex;
        letter-spacing: 3px;
        justify-content: center;
        align-items: center;
        justify-self: center;
        font-size: 10px;
        padding: 10px 10px;
        transform: translateY(10px);
    }
    .media-body .setting-mdia-bdy .short-text{
        padding: 30px !important;
        font-size: 1px;
        background-color: rgba(36, 48, 47, 0.1);
        border-radius: 30px 5px 30px;
    }
    .blockquote h1{
        padding-top: 10px;
        text-shadow: 5px 2px 5px;
        font-size: 25px;
    }
    .blockquote h3{
        padding-top: 10px;
        text-shadow: 5px 2px 5px;
        font-size: 25px;
    }
    .blockquote p{
        padding: 10px;
        border-left: 2px solid cyan;
        border-right: 2px solid cyan;
        border-radius: 20px;
        font-size: 15px;
    }
    .price-head-text h2{
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
        overflow: hidden;
        /* text-shadow: 1px 1px 2px yellow; */
    }
    .price-head-text p{
        font-size: 16px;
        font-weight: bold;
        line-height: 40px;
        overflow: hidden;
    }
    .price-head-text span{
        font-size: 13px;
        color: white;
    }
    .price-content ul li{
        border-bottom: 1px solid #1CB8C8;
        padding-top: 25px;
        font-size: 11px;
        font-weight: bold;
    }
    .fa-credit-card{
        color: #134AD3;
        font-size: 15px;
    }
    .setting-sbmit-btn{
        font-size: 15px;
        padding: 5px;
        border-radius: 10px 5px 10px;
        letter-spacing: 2px;
        transform: translateX(-10px);
    }
    .setting-Address-details{
        color: cyan;
        font-size: 15px;
        display: inline;
    }
    .footer-bottom-text{
        background-color: black;
        color: cyan;
        border: 2px solid cyan;
        box-shadow: 0px 0px 10px 3px cyan;
        font-size: 15px;
        line-height: 40px;
    }
}
@media (min-width: 375px) and (max-width: 592px)
{
    .animate-btn{
        position: absolute;
        top: 50%;
        left: 35%;
        display: flex;
        letter-spacing: 3px;
        justify-content: center;
        align-items: center;
        justify-self: center;
        font-size: 10px;
        padding: 10px 10px;
        transform: translateY(10px);
    }
}
@media (min-width: 425px) and (max-width: 592px)
{
    .animate-btn{
        position: absolute;
        top: 50%;
        left: 37%;
        display: flex;
        letter-spacing: 3px;
        justify-content: center;
        align-items: center;
        justify-self: center;
        font-size: 10px;
        padding: 10px 10px;
        transform: translateY(10px);
    }
}